@use "../utils/mixin.scss";
@use "../utils/colors.scss";

/* Explorer */
.explorer {
    text-align: center;
    margin: 2rem;
    & h2 {
        font-size: 1.5rem;
        margin: 1rem;
    }
    & p {
        font-size: 1rem;
    }
    & button {
        @include mixin.base-button;
        font-size: 1rem;
    }
}

.loader {
    $animation-duration: 1s;
    $animation-count: 4;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms forwards $animation-duration * $animation-count;
    transform-origin: top;
    &::after {
        content: "";
        width: 100px;
        height: 100px;
        border-right: 3px solid transparent;
        border-top: 5px solid colors.$purple;
        border-radius: 50%;
        animation: spin $animation-duration ease-in-out;
        animation-iteration-count: $animation-count;
    }
}

@keyframes disappear {
    to {
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
